.navbar{
    position: fixed !important;
    z-index: 1;
    width: 100% !important;
}
.orange.lighten-1 {
    background-image:  linear-gradient(15deg, #FF1617 0%, #000000 100%);
    font-family: 'Oxanium'!important ;
    font-size: 20px;
}
 
body {
    /* background-image: url("back1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: 'Michroma' ;
}
#p1 {
    font-family: 'Krona One' ;
    color : red !important;
}

.p {
    font-family: 'Open Sans'!important ;
}
.demo-cont {
    padding-bottom: 200px !important;
}
.footer {
    background-image:  linear-gradient(15deg, #FF1617 0%, #000000 100%);
    font-family: 'Oxanium'!important ;
}
